---
const currentYear = new Date().getFullYear();
import Social from './Social.astro';
---

<footer class="bg-white border-t border-gray-200 py-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-col items-center space-y-4">
      <div class="flex space-x-6">
        <Social platform="github" ext="com" username="mangodevx" />
        <Social platform="instagram" ext="com" username="" />
        <Social platform="flickr" ext="com" username="photos/202038024@N04/" />
        <Social platform="discord" ext="com" username="users/386969677143736330" />
      </div>
      <div class="text-sm text-gray-600">&copy; {currentYear} Keith Ritter. All rights reserved.</div>
    </div>
  </div>
</footer>